langchain_chroma==0.1.1
langchain_community==0.3.5
langchain_core==0.3.5
langchain_text_splitters==0.3.5
langgraph==0.2.60
simpleeval==1.0.7
streamlit==1.42.0
protobuf==3.20.3
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
chromadb==0.4.24
dashscope==1.20.7